 *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height:100%;
    width: 100%;
    perspective:500px;
}
#parent{
    height: 100%;
    width: 100%;
    background-color: black;
  
}

h1{
    font-size: 500;
    font-weight: 600;
    color: white;
    -webkit-text-stroke: 1px red;
}