 *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
html,body{
    height:100%;
    width: 100%;
    perspective:500px;
}
main{
    height: 500px;
    width: 1050px;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70px 200px 1fr 1fr;
    grid-template-areas: "header header header"
                         "section section section"
                         "div1 bottom1 div2"
                         "div1 bottom2 div2";
    
}
header{
    background-color: crimson;
    grid-area: header;
}
section{
    background-color: lightseagreen;
    grid-area: section;
}
#div1{
    background-color:chocolate;
    grid-area: div1;
}
#div2{
    background-color:dimgray;
    grid-area: div2;
}
#bottom1{
    background-color:deeppink;
    grid-area: bottom1;
}

