 *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height:100%;
    width: 100%;
    perspective:500px;
}
img{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 500px;
    width: 600px;
    transform: rotateX(60deg);
}