*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    height:100%;
    width:100%;
}

#empty{
    height: 30px;
}
div{
    text-align: center;
}
#name{
    font-weight: bold;
    font-family:Helvetica, sans-serif;
}
#about{
    font-style: italic;
}
#empty2{
    height: 10px;
}
.namehead{
    background-color: rgb(0, 0, 47);
    color: aliceblue;
    
}
#aboutme{
    background-color: blanchedalmond;
    
    height: 20%;
    text-align:inherit;
}

