*{
    margin: 0;
    padding: 0;
    font-family: poppins;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}
#nav{
    padding: 10px 30px;
    
}
#nav a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 25px;
    margin: 25px;
    padding: 10px 30px;
}
#main>h1{
    color: rgb(0, 0, 0);
    font-size: 300px;
    font-weight: 400;
    padding-left: 30px;
}
#bttmlft{
    position: absolute;
    bottom: 200px;
    left: 50px;
    color: rgb(0, 0, 0);
    font-size: 30px;
    width: 300px;
}
#bttmlft h4{
    margin-top: 30px;
}
#bttmlft h3,h4{
    font-size: 40px;
    margin-top: 40px;
}
#bttmbar{
    color: rgb(0, 0, 0);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 70px 30px; 
}
#bttmbar a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 32px;
}
#main>img{
    height: 400px;
    position: absolute;
}
#main #first{
    height: 600px;
    top: 40%;
    left: 55%;
}
#main #second{
    height: 600px;
    top: 35%;
    left: 40%;
}
#main #third{
    height: 550px;
    top: 18%;
    left: 70%;
}

