*{
    margin: 0;
    padding: 0;
    font-family: poppins;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    
}
#innrnav{
    height: 100px;
    width: 100%;
    background-color: rgb(34, 33, 33);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#center{
    height: 80%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
}
#center>h1{
    font-size: 70px;
}
#center>h2{
    font-size: 30px;
    font-size: 45px;
}
#links button{
    background-color: rgb(58, 58, 211);
    font-size: 40px;
    padding: 15px;
    border-radius: 50px;
    color: white;
    border: none;
    margin: 20px;
}